.env
.env.local
.env.*.local

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.venv
venv/
ENV/
env/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

.prisma/
generated/

*.log
*.pot

node_modules/

.cache/
.coverage
htmlcov/

.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

instance/
.webassets-cache

.scrapy

docs/_build/

.tox/
.nox/

.ipynb_checkpoints
.pytype/
